include ../mixins/workshop

extends ../layouts/default

block intro
  .container
    
block content
   
   .container.acadamy-day
      if +data.workshops.length > 0
        h1 1st  Stopmotion Academy
        h5 workshops start everyday at 10am at Zukunftkino
        p.director 
         span Directed by 
         a(href="https://www.facebook.com/marcusgrysczok", target="_blank") Marcus Grysczok
        ul.cards(style="width:100%;")
          each workshop, index in data.workshops
            li.cards-item
              +workshop(workshop)
