extends ../layouts/default

block intro
	.container.home
		img(src='http://www.boddinale.com/wp-content/uploads/2015/11/boddinale_wp2.jpg')
		h1 This years page
		- var days = Array.from(new Array(11), (x,i) => i+1)
		ul(style="list-style:none; padding-left:0;")
			each d in days
				li(style="display:inline-block; padding-left:0;"): a(href="/day/#{d}") Day#{d}


block content
	.container: .jumbotron
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at viverra purus. Integer non hendrerit turpis. Nunc at elit quis elit pretium pellentesque ac nec est. Vestibulum porta augue quis velit dapibus consectetur. Nulla facilisi. Curabitur pretium ante quis lacus malesuada suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eu tortor vitae ante mollis ultrices rutrum at nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam laoreet bibendum nibh. Nam eget magna vehicula, efficitur lectus nec, pulvinar velit. Phasellus at massa et urna tempor accumsan. Duis quis cursus lacus.
