include ../mixins/movie

extends ../layouts/default

block og
  if data.movie.display && data.movie.display.image
    meta(property='og:image', content='#{data.movie.display.image.secure_url}')
  if data.movie.display && data.movie.display.youtube
    meta(property='og:video', content='#{data.movie.display.youtube}')
  if data.movie.display && data.movie.display.vimeo
    meta(property='og:video', content='#{data.movie.display.vimeo}')

block content
  .container: row
    +movie(data.movie, true)