mixin static-intro(title)
  .container.home
    img(src='http://www.boddinale.com/wp-content/uploads/2015/11/boddinale_wp2.jpg')
    p(style="text-align:center;") BERLIN COMMUNITY MOVIE FESTIVAL &#47;&#47;&#47; FEBRUARY 9TH-19TH 2017 _ 5TH EDITION
    h1= title
