doctype html
html

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

  body
    form#uploadForm(enctype="multipart/form-data" method="post")
      input(type='hidden', name='action', value='excel-upload')
      input(type="file", name="excel")
      input(type="submit", value="Upload Excel", name="submit")
