@media (max-width: 768px) {

  .navbar-default img {
	display: none;
  }

  .navbar-toggle {
	border-radius: 0;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #bbb;
	color: #fff;
	
  }

  .navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
	color: #fff;
  }

  

  .navbar-default .navbar-brand {
	margin-left: 0px !important;
	font-size: 3rem;
	font-weight: 500;
  }

  #header {
	margin: -1rem;
	padding: 0rem;
	margin-bottom: 1rem;
  }
  
  .navbar-default .logo-text {
	display: none;
  }
  
}
